 * {
   font-family: sansation;
   scroll-behavior: smooth;
 }
 body {
       background-color: white;
       margin: 0;
       padding: 0;
       font-family: verdana;
 }
 .lightmode{
   display: none;
   background-color:white;
   height:100%;
   width: 100%;
   transition:0.3s ease-out;
   z-index:0;
 }
 .lightmode body{
   background-color:white;
 }
 h1{
    margin-left: 10px;
    font-size:30px;
    text-align: left;
}
#v{
  font-size: 35px;
  color: #787878;
}
.span{
  transition: 0.1s linear;
}
.span:hover{
  font-size:40px;
}
h2{
  text-align: center;
  font-family: Verdana,Tahoma, sans-serif;
  font-weight: 1;
  font-size:10px;
}
 button{
        padding:1px;
        border:4px solid black;
 }
 
 .ul {
     background-color:white;
     display:block;
     position: sticky;
     top:0;
     margin:0;
     padding:0px;
     overflow:auto;
     white-space: nowrap;
     border-bottom: 1px solid black;
     border-top: 1px solid black;
     z-index:4;
 }
 
 .ul a {
   background-color:rgba(192,192,192,0.2); 
       color:black;
       text-align: center;
       margin:7px;
       padding: 13px;
       display:inline-block;
       position: relative;
       text-decoration: none;
       font-size: 18px;
       border-radius:40px 40px;
 }
 .ul a:hover{
      background-color:rgba(192,192,192,0.8);
 }
 .container{
   position: relative;
   width: 100%;
   overflow: hidden;
   padding-top: 60.25%;
   
   }
.responsive-iframe{position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 width: 100%;
 height: 100%;
 z-index:1;
 
 }
 .classdetail{
  margin-left:20px;
  margin-right :20px;
  font-size:20px;
 }
.logo{
  margin-left: 10px;
  border-radius:50%;
}
.logo1 {
  margin-left: 10px;
  border-radius: 50%;
}
.logo:hover{
  animation: logomove 0.7s ease-in-out infinite forwards;
}
.logo1:hover {
  animation: logomove 0.7s ease-in-out infinite forwards;
  
}
@keyframes logomove {
  0% {
    transform: translateY(5px)
  }
  50%{
    transform: translateY(-10px)
  }
  100%{
    transform: translateY(5px)
  }
}
.header{
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items:center ;
}

@keyframes rotatediv {
  0%{transform:rotate(0deg)
  }
  100%{
  transform:rotate(360deg)
}
}
#ab {
  display: none;
}
#bb {
  display: none;
}
#cb {
  display: none;
}
#db {
  display: none;
}
#eb {
  display: none;
}
#fb {
  display: none;
}
#gb {
  display: none;
}
#cc {
  display: none;
}
#hb {
  display: none;
}
@media screen and (min-width:500px) {
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding-top:35px;
  }
  .grid-item{
    padding-right:20px;
    padding-left:20px;
  }
  #aa {
    display: none;
  }
  #ab {
    display:inline-block;
  }
  #ba {
    display: none;
  }
  #bb {
    display:inline-block;
  }
  #ca {
    display: none;
  }
  #cb {
    display:inline-block;
  }
  #da {
    display: none;
  }
  #db {
    display:inline-block;
  }
  #ea {
    display: none;
  }
  #eb {
    display:inline-block;
  }
  .topmenu{
    display: none;
  }
  #contain {
    border: none;
    background-color: white;
    box-shadow: 5px 10px 8px white;
    position:absolute;
    top: 0;
    right:15px;
    height: 70px;
    width: auto;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px;
  }
  #themea{
    display: flex;

    margin-right: 10px;
  }
  .containbox{
    height: 40px;
  }
}
@media screen and (min-width:900px) {
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top:35px;
  }
  .grid-item{
    padding-right:20px;
    padding-left:20px;
  }
  #fa {
    display: none;
  }
  #fb {
    display:inline-block;
  }
  #ga {
    display: none;
  }
  #gb {
    display:inline-block;
  }
  #cb {
    display: none;
  }
  #cc {
    display:inline-block;
  }
  #ha {
    display: none;
  }
  #hb {
    display:inline-block;
  }
}
.loadingpage2{
    display: grid;
    grid-template-columns: auto ;
  }
.dark {
  font-size: 18px;
  margin-top:5px;
  margin-left:5px;
}
.darkmode{
  background-color: #121212;
}
.darkmode body{
  background-color: #121212;
}
.darkmode .ul{
  background-color:   #121212;
  border-bottom: 1px solid white;
  border-top: 1px solid white;

}
.darkmode h1{
  color: white;
}
.darkmode .classdetail{
  color: white;
}
.darkmode .ul a{
  color:white;
  padding: 10px;
}
.darkmode .logo{
  background-color:white;
}
.fa-adjust{
  font-size: 23px;
  padding-left: 10px;
}
.containbox{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.containbox:hover .fa-adjust{
  animation: logomove 0.7s ease-in-out 1 forwards;
  animation-fill-mode: backwards
}
.darkmode .fa-adjust{
  color: #FFFFFF;
}
.darkmode h2{
  color: white;
}
.contain{
  background-color: white;
  box-shadow: rgba(0, 0, 0,0.2) 16px 16px 4px;
  position: absolute;
  top:71px;
  right:0;
  z-index:5;
  display: block;
  width: 0px;
  transition: 0.5s;
  text-align: center;
  height: 91px;
  overflow: hidden;
}
.contain1{
  width:100%;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}
.contain a{
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 20px;
}
.YouTubetext {
  color: red;
  font-size:20px;
}
.darkmode .contain a{
  color: white;
}
.containbox:hover{
  border-bottom:2px solid red;
  border-top:2px solid red;
}
.darkmode #contain{
  background-color: #121212;
  color: white;
  box-shadow: 5px 10px 8px #121212;
}
.darkmode .contain {
  background-color: #121212;
  box-shadow: 5px 10px 8px #121212;
  color: white;
}
.loadingpage{
  display: block;
  z-index: 21;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:white;
}
.loadingpage2 {
  z-index: 21;
  position: fixed;
  top: 30%;
  left: 0;
  height: 20%;
  width: 100%;
  background-color: white;
}
.logojump{
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid #D0D0D0;
  border-top: 4px solid red;
  border-left: 4px solid #FF5660;
  border-bottom: 4px solid #FAA9AD;
  animation: rotatediv 1s linear infinite forwards;
  z-index: 3;
}
.scrollbutton{
  border-radius: 50px;
  margin:0;
  padding:0;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 20;
  background-color: #9F9F9F;
}
.scrollbutton img{
  margin: 10px;
  width: 20px;
  height: 20px;
}
.jp{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.darkmode .jp{
  color: white;
}
.darkmode .bar1 {
  background-color: white;
}
.darkmode .bar2 {
  background-color: white;
}
.darkmode .bar3 {
  background-color: white;
}
.container2 {
  display:inline;
  cursor:pointer;
}
.bar1, .bar2, .bar3 {
  width:35px;
  height:5px;
  background-color:black;
  transition:0.5s ease-in-out;
  padding:0;
  border-radius:2px;
}
.bar1{
  margin-bottom:6px;
}
.bar2 {
  margin-bottom:6px;
}
.change1 .bar1 {
  -webkit-transform:
  rotate(-45deg)
  translate(-9px,7px);
  
  transform:
  rotate(-45deg)
  translate(-8px,8px);
  width:25px;
  height:3px;
}
.change1 .bar2 {
   opacity: 0;
   width:25px;
  }
.change1 .bar3 {
   -webkit-transform:
  rotate(45deg)
  translate(-5px, -7px);
  transform:
  rotate(45deg)
  translate(-5px, -7px);
  width:25px;
  height:3px;
}
.topmenu{
  font-size: 30px;
   position: absolute;
   right: 15px;
}